@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

body {
    background-color: #111111;
    color: #F5F1EB;
    font-family: 'Allura', cursive;
    font-size: 50px;
    background: radial-gradient(circle at 20% 30%, rgba(128, 0, 255, .35), transparent 30%), #111111;
    text-align: left;
    margin-top: 0;
    margin-left: 0;
    padding: 0;
}

nav {
    background-color: black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;  
}

nav h1 {
    margin: 0;
}
.nav-links {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin-left: 50px;
}

#home {
    text-align: left;
    padding: 40px;
    background: linear-gradient(to right, rgba(26, 18, 46, .95), rgba(26, 18, 46, .45)), url("tiffpicnew.jpg");
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: block;
}

button {
    background: purple;
    color: white;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    margin-left: auto;
}

#menuButton {
    font-family: 'Allura', cursive;
    font-size: 42px;
    color: white;
    cursor: pointer;
    padding: 20px;
    display: inline-block;
    position: absolute;
    top: 25px;
    right: 25px;
}
#services {
    text-align: left;
    padding: 40px;
    background: linear-gradient(to right, rgba(26, 18, 46, .95), rgba(26, 18, 46, .45)), url("Heropic.jpg");
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: block;
}
#services h3{
    font-size: 50px;
    margin-top: -30px;
    letter-spacing: 9px;
    margin-bottom: -30px;
}
#services button{
    font-size: 30px;
    padding: 15px 35px;
    margin-left: 200px;
    margin-top: 100px;
}




h2,
h4,
h6,
h5 {
    text-align: center;
    margin: 25px auto;
    font-size: 65px;
}





.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.gallery img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
}

.videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.videos video {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}
.hamburger {
    display: none;
    
}
h1 img{
    width: 75%;
    height: auto;
    display: block;
}



@media (max-width: 780px) {
    nav h1 {
        font-size: 48px;
        text-align: center;
    }

    #menuButton {
        display: block;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: left;
        margin-left: 20px;
        padding-top: 10px;
    }

    #sideMenu a {
        font-size: 24px;
    }

    #home h3 {
        font-size: 40px;
        line-height: 1.2;
        margin-top: 0;
        text-align: left;
    }

    .page-logo img {
        width: 400px;
        max-width: 90%;
    }

    h2,
    h4,
    h6,
    h5 {
        margin: 15px auto;
        font-size: 32px;
    }

    

    .gallery img {
        width: 100%;
        max-width: 350px;
        height: auto;
        border-radius: 10px;
        margin: 15px auto;
        display: block;
        object-fit: cover;
    }

    .videos video {
        width: 100%;
        max-width: 350px;
        height: auto;
    }

    #home {
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #services{
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
    }
.nav-links {
    display: none;
}

.nav-links.show {
    display: flex;
    flex-direction: column;
}

.hamburger {
    display: block;
}

.mobile-menu{
    display:none;
    }
   
